@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet');

main {
    height: 90%;
}

.wrapper {
    text-align: center;
}

body {
    background-color: lightcyan;
    height: 100vh;
}

.tall {
    height: 100%;
    display: sticky;
    background-image: linear-gradient(to right, rgba(0, 110, 255, 0.5),  rgba(0, 110, 255, 1),  rgba(0, 110, 255, 0.5));
}

.scroll {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.form h3 {
    float: left;
    display: block;
    width: calc(100%/3);
}

.lists {
    width: calc((100%/3) - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    // margin: 10px;
    float: left;
    overflow: visible;
    height: 100%;
}

.tv {
    // border-right: 10px dotted blue;
    // overflow: visible;
    // padding-right: 30px;
    // padding-left: 30px;
}

.by {
    size: 50px;
}

.songDetails {
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-bottom: 20px;
}
.emptydiv {
    // background-color: lightgray;
    // position: sticky;
    // height: 100%;
}

.movies {
    // border-left: 10px dotted blue;
    // overflow: visible;
    // padding-left: 30px;
    // padding-right: 30px;
}

.tv a, .movies a {
    padding-bottom: 10px;
    width: 100%;
    float: left;
}

.tv p, .movies p {
    padding-bottom: 20px;
}

img {
    max-height: 150px;
}

.dadjokes {
    width: 100%;
    clear: both;
    height: 10%;
}

.loading{
    width: 100%;
    float: left;
}

.center {
    padding-left: 45%;
}

svg {
    text-align: center;
}

