@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet');

header {
    font-size: 40px;
    display: block;
    padding: 10px;
    font-family: 'Bangers', cursive;
}